.NewsComponent__newsCard {
    margin: 15px 0px;
}

.NewsComponent__imgWrapper {
    padding-right: 0;
}

.NewsComponent__textWrapper {
    padding-left: 0;
}

.NewsComponent__newsImg {
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.NewsComponent__buttonWrapper {
    text-align: right;
}
.social-title h1 {
    color: black !important;
    margin: auto;
    text-align: left;
    font-family: "Arial", sans-serif ;
    font-size: 2rem;
}