.Alliances_section {
    background-color: #E0AC00;
    margin-bottom: 4em;
}

.Alliances_Container {
    background-color: #E0AC00;
}

.Alliances_Row {
    padding: 3em 0em;
}

.Alliances_Text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Alliances_Text h2 {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.Alliances_Text p {
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
}

.Alliances_link {
    font-weight: bold;
    text-decoration: underline;
    color: #000;
}

a:hover {
    color: #B1C868;
}

.Alliances_RowImg {
    margin-top: 1em;
    height: 100%;
    align-items: center;
}

.Alliances_Card {
    padding: 1em;
    font-family: Quicksand, sans-serif;
}

.Alliances_CardWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Alliances_ImgWrapper {
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border: 1px solid #444444;
    border-radius: 50%;
}

.Alliances_Card img {
    width: 100%;
    height: auto;
}